{% extends 'base.html' %}

{% block meta %}
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:description" content="{{ section.description}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ section.permalink }}" />
<meta property="og:image" content="{{ section.permalink }}avatar.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@elmaghallawyy" />
<meta name="twitter:title" content="Ahmed Elmaghallawy" />
<meta name="twitter:description" content="about me." />
<meta name="twitter:image" content="{{ section.permalink }}avatar.png" />

{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        {% if config.extra.author.avatar %}
        <figure class="image center">
          <img alt="image of me with a background of sunset pink sky" class="is-rounded card" src='{{ config.extra.author.avatar }}' style="max-width: 180px" />
        </figure>
        {% endif %}
        <div class="has-text-centered">
          <h1 class="title">{{ section.title }}</h1>
          <h2 class="subtitle">{{ section.description }}</h2>
          {{ macros:: social_links( social_config=config.extra.social) }}
        </div>
        <div class="content has-text-justified mt-5">
          {{ section.content | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}